{% extends "govuk_base.html" %}
{% load staticfiles %}

{% block head %}
  <!--[if gt IE 8]><!--><link href="{% static 'stylesheets/govuk-elements-styles.css' %}"  rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if IE 6]><link href="{% static 'stylesheets/govuk-elements-styles-ie6.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="{% static 'stylesheets/govuk-elements-styles-ie7.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 8]><link href="{% static 'stylesheets/govuk-elements-styles-ie8.css?2' %}" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock %}


{% block main %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a prototype.</span>
      </p>
      </div>
    </div>
  </div>

    {% block content %}{% endblock %}
</main>
{% endblock %}

{% block body_end %}
<script type="text/javascript" src="{% static 'vendor/jquery-2.2.0.min.js' %}"></script>

{% endblock %}
