{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  {% include '_breadcrumbs.html' %}

  <h1 class="heading-xlarge"><span class="heading-secondary">Form</span>{{ form.heading }}</h1>

  <h2 class="heading-small">Phase</h2>
  <p><strong class="phase-tag">{{form.phase}}</strong>

  <h2 class="heading-small">Reference</h2>
  <p>{{ form.reference }}</p>

  <h2 class="heading-small">Description</h2>
  <p>{{ form.description }}</p>

  {% for section in form.sections.all %}
    {% include '_section.html' %}
  {% endfor %}

  <h2 class="heading-medium">Preview this form</h2>

<ul class="list list-bullet">
    <li>as a <a href="/form/{{ form.form }}/preview/elements/">single web page</a></li>
</ul>

{% endblock %}
