{% extends "runner/base.html" %}
{% load staticfiles %}
{% block header_class %}with-proposition{% endblock %}
{% load markdown %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href="/form/{{form.form}}" id="proposition-name">{{ form.heading }}</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}


  {% for section in form.sections.all %}
  <div class="section">
    <h2 class="heading-large">{{ section.heading }}</h2>

    {% if section.guidance %}
    <div class="guidance markdown">{{ section.guidance|markdownify|safe }}</div>
    {% endif %}

    {% for sectionpage in section.sectionpage_set.all %}

    <div class="form-group">
      <fieldset>
          <legend>
              <h1 class="heading-medium">{{ sectionpage.page.heading }}</h1>

              {% if sectionpage.page.guidance %}
              <div class="body-text markdown">{{ sectionpage.page.guidance|markdownify|safe }}</div>
              {% endif %}

          </legend>

      {% if sectionpage.page.warning %}<p>{{ sectionpage.page.warning }}</p>{% endif %}

      {% if sectionpage.page.detail %}<p>{{ sectionpage.page.detail }}</p>{% endif %}

      {% for field in sectionpage.page.fields.all %}

        <label class="form-label" for="{{field.field}}">
          {% if sectionpage.fields.count > 1 %}{{field.label}}{% endif %}
          {% if field.hint %}<span class="form-hint">{{ field.hint }}</span>{% endif %}
        </label>

        {% if field.inputtype|stringformat:"s" == 'text' %}

        <input class="form-control" id="{{field.field}}" type="text" name="{{field.field}}">

        {% elif field.inputtype|stringformat:"s" == 'textarea' %}

        <textarea class="form-control form-control-3-4" name="{{field.field}}" rows="5"></textarea>

        {% elif field.inputtype|stringformat:"s" == 'radio' %}

          {% for list in field.whitelists.all %}
            {% for item in list.items.all %}
            <div class="multiple-choice">
                <input id="{{ field.field }}-radio-{{ forloop.revcounter }}" type="radio" name="radio-group" value="{{ item.value }}">
                <label for="{{ field.field }}-radio-{{ forloop.revcounter }}">{{ item.label }}</label>
            </div>
            {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}<p class="form-block">or</p>{% endifequal %}{% else %}{% endif %}
            {% endfor %}
          {% endfor %}

        {% elif field.inputtype|stringformat:"s" == 'checkbox' %}

          {% for list in field.whitelists.all %}
            {% for item in list.items.all %}
            <div class="multiple-choice">
                <input id="{{ field.field }}--{{ forloop.revcounter }}" type="checkbox" name="radio-group" value="{{ item.value }}">
                <label for="{{ field.field }}--{{ forloop.revcounter }}">{{ item.label }}</label>
            </div>
            {% endfor %}
          {% endfor %}

        {% endif %}


      {% endfor %}

    {% endfor %}

  </div>
  {% endfor %}

  <div class="form-group">
    <input class="button" type="submit" value="Submit">
  </div>

  <div class="action-button-links">
     <a onclick="history.back(-1);" href="#">Back</a>
  </div>

{% endblock %}
