{% extends "runner/base.html" %}
{% load staticfiles %}
{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href="/form/{{form.form}}" id="proposition-name">{{ form.heading }}</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}


  {% for section in form.sections.all %}
  <div class="section">
    <h2 class="heading-large">{{ section.heading }}</h2>

    {% if section.guidance %}
    <p>{{ section.guidance }}</p>
    {% endif %}

    {% for sectionquestion in section.sectionquestion_set.all %}

    <div class="form-group">
      <fieldset>
          <legend>
              <h1 class="heading-medium">{{ sectionquestion.question.heading }}</h1>

              {% if sectionquestion.question.guidance %}
              <span class="body-text">{{ sectionquestion.question.guidance }}</span>
              {% endif %}
          </legend>

      {% if sectionquestion.question.warning %}<p>{{ sectionquestion.question.warning }}</p>{% endif %}

      {% if sectionquestion.question.detail %}<p>{{ sectionquestion.question.detail }}</p>{% endif %}

      {% for field in sectionquestion.question.fields.all %}

        <label class="form-label" for="{{field.field}}">
          {% if question.fields.count > 1 %}{{field.label}}{% endif %}
          {% if field.hint %}<span class="form-hint">{{ field.hint }}</span>{% endif %}
        </label>

        {% if field.inputtype|stringformat:"s" == 'text' %}
        <input class="form-control" id="{{field.field}}" type="text" name="{{field.field}}">
        {% endif %}

        {% if field.inputtype|stringformat:"s" == 'textarea' %}
        <textarea class="form-control form-control-3-4" name="{{field.field}}" rows="5"></textarea>
        {% endif %}

        {% if field.inputtype|stringformat:"s" == 'radio' %}
        {% for list in field.whitelists.all %}
          {% for item in list.items.all %}
          <div class="multiple-choice">
              <input id="{{ field.field }}-radio-{{ forloop.revcounter }}" type="radio" name="radio-group" value="{{ item.value }}">
              <label for="{{ field.field }}-radio-{{ forloop.revcounter }}">{{ item.label }}</label>
          </div>
          {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}<p class="form-block">or</p>{% endifequal %}{% else %}{% endif %}
          {% endfor %}
        {% endfor %}
        {% endif %}


      {% endfor %}

    {% endfor %}

  </div>
  {% endfor %}

  <div class="form-group">
    <input class="button" type="submit" value="Submit">
  </div>

  <div class="action-button-links">
     <a onclick="history.back(-1);" href="#">Back</a>
  </div>

{% endblock %}
